<h1>INBOX</h1>

<!-- Filters -->
<app-email-filter></app-email-filter>

<!-- TODO: Master-slave layout implementation -->
<mat-grid-list cols="12" rowHeight="40vh">
  <!-- Master Tile -->
  <mat-grid-tile 
    *ngIf="masterTile" 
    [colspan]="masterTile.cols" 
    [rowspan]="masterTile.rows" 
    [style.background]="masterTile.color">
    <div class="master-content">
      <div *ngIf="isLoading">Emails Loading...</div>

      <!-- TODO: Alerts -->
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
  
      <div *ngIf="!isLoading && emailList.length === 0">
        No emails available.
      </div>
  
      <div *ngIf="!isLoading" class="email-list-container">
        <app-email-list></app-email-list>
        <!-- <app-email-list [emails]="filteredEmails"></app-email-list> -->
      </div>
    </div>
  </mat-grid-tile>

  <!-- Slave Tile -->
  <mat-grid-tile 
    *ngIf="slaveTile" 
    [colspan]="slaveTile.cols" 
    [rowspan]="slaveTile.rows" 
    [style.background]="slaveTile.color">
    <div class="master-content">
       <router-outlet></router-outlet>
    </div>
  </mat-grid-tile>
</mat-grid-list>


