.tile-container {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
}

.email-list-container {
  flex: 1; 
  overflow-y: auto;
}

.email-filter {
  background-color: #f4f5f9;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

app-email-list {
  width: 100%;
}
