.filter-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-chip-listbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  padding: 0;
  margin: 0;
}

// .custom-chip {
//   background-color: transparent !important;
//   color: #636363;
//   // border: 1px solid #cfd2dc;
//   transition: background-color 0.3s ease, color 0.3s ease;
//   outline: none;
// }

// .custom-chip.mat-chip-selected {
//   background-color: #e1e4ea !important;
//   color: black !important;
// }

// .custom-chip:hover {
//   background-color: rgba(0, 0, 0, 0.05);
// }

// .custom-chip:focus {
//   box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.5); /* Optional focus outline */
// }
