.email-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.email-card {
  border: 2px solid #CFD2DC;
  border-radius: 8px;
}

.email-avatar {
  background-color: #E54065;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.email-date {
  font-size: 0.9rem;
  color: #666;
  margin-right: auto;
}

mat-card {
  box-shadow: none !important;
}

mat-card-title {
  // font-size: 0.9rem;
}

mat-card-subtitle {
  margin-top: 10px;
}

mat-card-content {
  margin-left: 54px;
  margin-right: 54px;
}

.email-card {
  position: relative; /* Needed for absolute positioning of buttons */
}

.mark-read-btn {
  position: absolute;
  top: 15px; /* Adjust as needed */
  right: 54px; /* Adjust as needed */
  z-index: 10; /* Make sure it's on top of other content */
}