<div *ngIf="isLoading">Email Details Loading...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
<div *ngIf="emailDetails">
  <div class="email-list">
    <mat-card class="email-card">
      <mat-card-header>
        <!-- TODO: Fix -->
        <div mat-card-avatar class="email-avatar">{{ getInitial(this.email?.from?.name ?? '') }}</div> 
        <mat-card-title>
          {{ this.email?.subject }}
        </mat-card-title>
        <mat-card-subtitle>
          <span class="email-date">  {{ this.email?.date | date: 'dd/MM/yyyy hh:mma' | lowercase }} </span>
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <div [innerHTML]="emailDetails.body"></div>
      </mat-card-content>
  
      <mat-card-actions>
        <!-- <span class="email-date">{{ email.date | date: 'dd/MM/yyyy hh:mma' }}</span> -->
        <button class="mark-read-btn" mat-flat-button color="accent" (click)="toggleFavourite(emailDetails.id)">
          {{ this.isFavorite ? 'Unmark favourite' : 'Mark as favourite' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <h3>{{ emailDetails.id }}</h3>
  
</div>