<section class="email-list-container">
  <mat-card class="email-card" [ngClass]="{
      'read-email': email.isRead, 
      'selected-email': isActive
    }">
    <mat-card-header>
      <div mat-card-avatar class="email-avatar">{{ getInitial(email.from.name) }}</div>
      <mat-card-title>
        From: <b>{{ email.from.name }} &lt;{{ email.from.email }}&gt;</b>
      </mat-card-title>
      <mat-card-subtitle>Subject: <b>{{ email.subject }}</b></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ email.short_description }}</p>
    </mat-card-content>

    <mat-card-actions> 
      <div class="email-actions">
        <span class="email-date">  {{ email.date | date: 'dd/MM/yyyy hh:mma' | lowercase }} </span>
        <mat-basic-chip *ngIf="email.isFavorite" color="accent" class="favorite-chip">Favorite</mat-basic-chip>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
